.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.main__title {
  width: 608px;
  height: 128px;
  font-size: 60px;
  line-height: 64px;
  margin-bottom: 10px;
}

.main__subtitle {
  font-family: Roboto;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  width: 608px;
  margin: 32px 0 0;
}

.main__status {
  color: white;
  font-size: 16px;
  margin: 16px 0;
}

.main__cards {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
  padding: 40px 0;
}

.main__see-more {
  width: 288px;
  height: 64px;
  border-radius: 80px;
  background-color: #ffffff;
  margin-bottom: 80px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
}

.main__see-more:hover {
  background-color: #e0e0e0;
}
