.header {
  font-family: Roboto Slab;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: white;
  padding: 30px 104px 0;
}

.header__title {
  font-family: Roboto Slab;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  vertical-align: middle;
}
