.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 104px;
  height: 80px;
  background-color: #ffffff;
}

.footer__text {
  color: #b6bcbf;
}

.footer__nav {
  display: flex;
  align-items: center;
}

.footer__divider {
  display: flex;
  gap: 40px;
  margin-right: 40px;
}

.footer__link {
  text-decoration: none;
  color: inherit;
}

.footer__image {
  width: 24px;
  height: 24px;
  padding-right: 24px;
}

.footer__image-git {
  width: 24px;
  height: 24px;
}

@media (max-width: 768px) {
  .footer {
    height: 64px;
    padding: 0 40px 0;
  }
}

@media (max-width: 630px) {
  .footer {
    height: 134px;
    padding: 20px 16px 22px;
    flex-direction: column-reverse;
  }

  .footer__text {
    margin: 0;
  }

  .footer__divider {
    flex-direction: column;
    align-items: normal;
    width: 200px;
    margin: 0;
  }

  .footer__link {
    align-self: baseline;
  }
}
