.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 104px;
  height: 80px;
}

.footer__text {
  color: #b6bcbf;
}

.footer__nav {
  display: flex;
  align-items: center;
}

.footer__divider {
  display: flex;
  gap: 40px;
  margin-right: 40px;
}

.footer__link {
  text-decoration: none;
  color: inherit;
}

.footer__image {
  width: 24px;
  height: 24px;
  padding-right: 24px;
}

.footer__image-git {
  width: 24px;
  height: 24px;
}
