.card {
  background: white;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.2s;
  width: 400px;
  height: 576px;
  border-radius: 16px;
}

.card:hover {
  transform: translateY(-4px);
}

.card__image-container {
  position: relative;
}

.card__image {
  width: 100%;
  height: 272px;
  object-fit: cover;
  display: block;
}

.card__tooltip {
  position: absolute;
  top: 12px;
  right: 57px;
  width: 142px;
  height: 18px;
  background: white;
  border-radius: 8px;
  padding: 8px 16px;
  font-family: Roboto;
  font-size: 12px;
  color: #1a1b22;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 1;
}

.card__save-btn {
  position: absolute;
  top: 12px;
  right: 12px;
  background: white;
  border: none;
  border-radius: 8px;
  width: 40px;
  height: 40px;
  font-size: 18px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.2s;
}

.card:hover .card__save-btn {
  opacity: 1;
}

.card__save-btn_active {
  opacity: 1;
  background: #2f71e5;
  color: white;
}

.card__content {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.card__date {
  font-size: 12px;
  color: #999;
}

.card__title {
  color: #1a1b22;
  margin: 0;
  font-family: Roboto Slab;
  font-weight: 400;
  font-size: 26px;
  line-height: 30px;
}

.card__description {
  font-size: 16px;
  color: #1a1b22;
  overflow: hidden;
}

.card__source {
  font-size: 12px;
  font-weight: bold;
  color: #999;
  margin-top: auto;
}

.card__tag {
  position: absolute;
  top: 12px;
  left: 12px;
  background: white;
  border-radius: 8px;
  padding: 8px 16px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  color: #1a1b22;
  z-index: 1;
  text-transform: capitalize;
}

@media (max-width: 768px) {
  .card {
    width: 224px;
    height: 420px;
  }
  .card__image {
    height: 150px;
  }

  .card__content {
    height: 270px;
  }
}

@media (max-width: 460px) {
  .card {
    width: 288px;
    height: 440px;
  }

  .card__image {
    height: 196px;
  }
}
